body{
    font-family: 'Helvetica', sans-serif;
}

.main-header{
    text-align: center;
    background-color: rgb(211, 121, 57);
    color: white;
    font-size: 45px;
}

.recipe-link{
   color: black; 
   font-size: 30px;
}