*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Helvetica', sans-serif;
}

.main{
    max-width: 1000px;
    margin: 20px auto;
    padding: 30px;
}

.header{

}

.recipe-link{
    font-size: 35px;
    display: block;
    margin-bottom: 15px;
    text-decoration: none;
    color: black;
    font-weight: 600;
    color: white;
}

.featured-recipe{
    max-width: 100%;
    margin: auto;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(76, 60, 60);
}
.featured-recipe-info{
    max-height: 400px;
}

.featured-recipe-info p {
    color: white;
}

.featured-recipe-img{
    max-width: 60%; 
    margin-left: 10px;
}

.recipe-card{
    max-width: 500px;
}

